<a href="https://colab.research.google.com/github/siddnhk/Python/blob/master/Sumbit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
#@title Default title text
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import nan

from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, Dense


from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import  MinMaxScaler

In [5]:
data = pd.read_csv('/content/gdrive/My Drive/ELEC/NSWDemand.csv', parse_dates = True, index_col = 'SETTLEMENTDATE', low_memory= False)
data.head()

                    REGIONID  ...  RAISE6SECLOCALDISPATCH
SETTLEMENTDATE                ...
2009-07-01 00:05:00     NSW1  ...                  145.01
2009-07-01 00:10:00     NSW1  ...                  137.00
2009-07-01 00:15:00     NSW1  ...                  137.00
2009-07-01 00:20:00     NSW1  ...                  150.57
2009-07-01 00:25:00     NSW1  ...                  148.91

[5 rows x 10 columns]

In [6]:

data_test = data.loc['2019-01-01 00:00:00':'2019-12-31 23:55:00', 'TOTALDEMAND']
data_test.head()

SETTLEMENTDATE
2019-01-01 00:00:00    7598.63
2019-01-01 00:05:00    7548.30
2019-01-01 00:10:00    7558.41
2019-01-01 00:15:00    7500.33
2019-01-01 00:20:00    7417.36
Name: TOTALDEMAND, dtype: float64

In [0]:
X_test, Y_test =[], []

for i in range(6, len(data_test)-6):
    X_test.append(data_test[i-6:i])
    Y_test.append(data_test[i:i+6])

In [0]:
X_test, Y_test = np.array(X_test),np.array(Y_test)

In [0]:
x_scaler = MinMaxScaler()
X_test = x_scaler.fit_transform(X_test)

y_scaler = MinMaxScaler()
Y_test = y_scaler.fit_transform(Y_test)

In [0]:
X_test = X_test.reshape(121911 ,6 ,1)

In [0]:
import tensorflow as tf
Momdel_Read = tf.keras.models.load_model('/content/gdrive/My Drive/ELEC/Elec_MOdel.h5')

In [0]:
Y_Pred = Momdel_Read.predict(X_test)

In [0]:
Y_Pred = y_scaler.inverse_transform(Y_Pred)

In [14]:
Y_Pred

array([[7315.142 , 7291.5156, 7261.0737, 7223.6846, 7190.684 , 7153.9194],
       [7350.752 , 7325.374 , 7288.109 , 7252.3716, 7226.9434, 7198.0493],
       [7260.787 , 7232.1865, 7197.6855, 7160.6675, 7127.9595, 7087.146 ],
       ...,
       [7460.7715, 7434.617 , 7407.145 , 7379.0376, 7353.1016, 7321.4946],
       [7398.311 , 7375.5186, 7348.456 , 7317.02  , 7288.322 , 7255.9863],
       [7415.5376, 7392.38  , 7358.6123, 7326.614 , 7304.029 , 7279.344 ]],
      dtype=float32)